<% provide :title, 'home' %>

<div class="container-fluid">
	<div class="p-5 text-center">
		<h1>Chobi Memo</h1>
		<p>調べたことを“ちょびっと”記録</p>
		<%= link_to '新規登録', new_user_registration_path,class: 'btn btn-primary badge-pill pr-4 pl-4' %>
	</div>
</div>
