<% provide :title, 'マイページ' %>

<div class="row justify-content-md-center">
  <div class="col-md-10 coffset-md-1">

    <!-- 検索フォーム -->
    <div class="input-group mb-3">
      <input type="form" class="form-control" placeholder="search..." aria-label="search" aria-describedby="basic-addon2" id="search">
      <div class="input-group-append">
        <span class="input-group-text" id="basic-addon2"><%= fa_icon 'search' %></span>
      </div>
    </div>

    <!-- 登録語表示エリア -->
    <div id="words_index">
      <%= render partial: 'words_index', locals: { words: @words } %>
    </div>

    <!-- ページネーション -->
    <div class="row justify-content-center mt-4">
      <%= paginate @words %>
    </div>
  </div>
</div>
